 <% if identity && identity.errors.any? %>
   <div class="error_messages">
     <h2><%= pluralize(identity.errors.count, "error") %> prohibited this account from being saved:
     </h2>
     <ul>
       <% identity.errors.full_messages.each do |msg| %>
         <li><%= msg.inspect %></li>
       <% end %>
     </ul>
   </div>
 <% end %>