
<p id="coordinates">
	Click the button to get your coordinates:
</p>
<button onclick="getLocation()">
	Find your coordinates
</button>
<button onclick= "removeLocation()">
	Clean Locatin
</button>
<div id="coordinates_map">
	<button onclick="Test()">
  	See your area map
  </button>
</div>
<p id = "location">
<p>