<h1>Listing posts</h1>
    <div class="row-fluid">
      <div class="span2"><h4>Title</h4></div>
      <div class="span2"><h4>Article<h4></div>
    </div>

<% @posts.each do |post| %>
  <%= render 'post_index',:post=>post%>
   
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
